<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja produktu</title>
    <th:block th:replace="fragments/header :: header-css"></th:block>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<form th:object="${productToEdit}" th:action="@{/admin/product}" method="post">
    <input hidden=hidden th:value="*{id}" th:field="*{id}">
    <input type="text" th:field="*{title}" placeholder="Nazwa produktu">
    <input type="text" th:field="*{description}" placeholder="Opis">
    <input type="text" th:field="*{pictureURL}" placeholder="Url obrazka">
    <input type="number" th:field="*{stockAmount}" placeholder="Stan magazynowy">
    <input type="number" step="0.01" th:field="*{price}" placeholder="Cena">
    <select th:field="*{productType}">
        <option th:value="''" th:text="'Typ produktu'"></option>
        <option th:selected="${productToEdit.productType eq pt}" th:each="pt : ${productTypes}" th:value="${pt}" th:text="${pt.type}"></option>
    </select>

    <select  th:field="*{categoryId}">
        <option th:value="null" th:text="Kategoria"></option>
        <option th:selected="${cat.id eq productToEdit.categoryId }" th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.text}"></option>
    </select>
    <button>Zmień produkt</button>
</form>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>