<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>REJESTRACJA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/signin.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<form th:action="@{/register}" th:object="${customerFormData}" method="post" class="form-signin">

    <p class="error" th:text="${userExistsException}"></p>

    <label for="name">Imię:</label>

    <input id="name" type="text" th:field="*{firstName}"  autofocus class="form-control"/>
    <div class="error" th:errors="*{firstName}"></div>

    <label for="surname">Nazwisko:</label>
    <input id="surname" type="text" th:field="*{lastName}" autofocus class="form-control"/>
    <div class="error" th:errors="*{lastName}"></div>

    <label for="zipcode">Kod pocztowy:</label>
    <input id="zipcode" type="text" th:field="*{zipCode}"  autofocus class="form-control"/>
    <div class="error" th:errors="*{zipCode}"></div>

    <label for="city">Miasto:</label>

    <input id="city" type="text" th:field="*{city}"  autofocus class="form-control"/>
    <div class="error" th:errors="*{city}"></div>

    <label for="country">Kraj:</label>
    <select autofocus class="form-control" id="country" th:field="*{country}">
        <option th:value="''" th:text="Wybierz"></option>
        <option th:each="country : ${countries}" th:value="${country.symbol}" th:text="${country}"></option>
    </select>
    <div class="error" th:errors="*{country}"></div>

    <label for="street">Ulica:</label>
    <input id="street" type="text" th:field="*{street}"  autofocus class="form-control"/>
    <div class="error" th:errors="*{street}"></div>

    <label for="birth">Data urodzenia:</label>
    <input id="birth" type="text" placeholder="yyyy-mm-dd" th:field="*{birthDate}" autofocus class="form-control"/>
    <div class="error" th:errors="*{birthDate}"></div>

    <label for="inputPesel"> PESEL:</label>
    <input id="inputPesel" type="text"  autofocus class="form-control" th:field="*{pesel}"/>
    <div class="error" th:errors="*{pesel}"></div>


    <label for="inputEmail">Email </label>
    <input type="email" id="inputEmail"  autofocus class="form-control" th:field="*{email}"/>
    <div class="error" th:errors="*{email}"></div>

    <label for="passw">Hasło:</label>
    <input id="passw" type="text" th:field="*{password}"  autofocus class="form-control"/>
    <div class="error" th:errors="*{password}"></div>

    <label for="phone">Numer Telefonu:</label>
    <input id="phone" type="text" th:field="*{phone}"  autofocus class="form-control"/>
    <div class="error" th:errors="*{phone}"></div>

    <input id="mailing" type="checkbox" th:field="*{preferEmails}"/>
    <label for="mailing">Nie chcę otrzymywać informacji listownie</label>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Utwórz konto</button>

    <div th:replace="fragments/footer :: footer"></div>
</form>


</body>
</html>